[submodule "gametrackr-frontend"]
	path = gametrackr-frontend
	url = https://github.com/abgonzalez93/GameTrackr-Frontend.git
[submodule "gametrackr-backend"]
	path = gametrackr-backend
	url = https://github.com/abgonzalez93/GameTrackr-Backend.git
[submodule "gametrackr-core"]
	path = gametrackr-core
	url = https://github.com/abgonzalez93/GameTrackr-Core.git
