[submodule "trackplay-frontend"]
	path = trackplay-frontend
	url = https://github.com/abgonzalez93/TrackPlay-Frontend.git
	branch = develop
[submodule "trackplay-backend"]
	path = trackplay-backend
	url = https://github.com/abgonzalez93/TrackPlay-Backend.git
	branch = develop
[submodule "trackplay-core"]
	path = trackplay-core
	url = https://github.com/abgonzalez93/TrackPlay-Core.git
	branch = develop
