api.trackplay.internal {
    tls /etc/caddy/certs/cert.crt /etc/caddy/certs/cert.key
    reverse_proxy trackplay-backend:80
}

trackplay.internal {
    tls /etc/caddy/certs/cert.crt /etc/caddy/certs/cert.key
    reverse_proxy trackplay-frontend:3000
}
