api.trackplay.localhost:443 {
    tls /etc/caddy/certs/cert.crt /etc/caddy/certs/cert.key
    reverse_proxy trackplay-backend:80
}

trackplay.localhost:443 {
    tls /etc/caddy/certs/cert.crt /etc/caddy/certs/cert.key
    reverse_proxy trackplay-frontend:3000
}

igdb.trackplay.localhost:443 {
    tls /etc/caddy/certs/cert.crt /etc/caddy/certs/cert.key
    reverse_proxy trackplay-igdb:3001
}
